{% extends "base.html" %}

{% block main_content %}
<section id="instructions">
    <p>
        Hello, welcome to my game. The aim of the game is to kill as many enemies as possible, killing enemies increases your points and gives you extra time. 
        Killing enemies has the chance to drop better weapons.
        The rifle is the best weapon followed by the crossbow.
        The wooden bow is your default weapon and you have 1000 arrows for it.
        Each weapon you pick up will give you 30 extra bullets, extra points and extra time.
        Bats have less health than witches but witches give more points.
        You must be logged in to play.

    </p>
    <h1>Controls</h1>
    <p>
        Move character: Arrow keys
        <br/>
        Shoot: Spacebar
        <br/>
        Pickup weapon: Enter/return
        <br/>
        Swap weapon: 1,2,3
        
    </p>
</section>
{% endblock %}